<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.main.oneflix.member.vo.MemberVO" alias="member"/>
		<typeAlias type="com.main.oneflix.manager.vo.ManagerVO" alias="manager"/>
		<typeAlias type="com.main.oneflix.actor.vo.ActorVO" alias="actor"/>
		<typeAlias type="com.main.oneflix.director.vo.DirectorVO" alias="director"/>
		<typeAlias type="com.main.oneflix.genre.vo.GenreVO" alias="genre"/>
		<typeAlias type="com.main.oneflix.ticket.vo.TicketVO" alias="ticket"/>
		<typeAlias type="com.main.oneflix.movie.vo.MovieVO" alias="movie"/>
		<typeAlias type="com.main.oneflix.screen.vo.ScreenVO" alias="screen"/>
		<typeAlias type="com.main.oneflix.help.vo.HelpVO" alias="help"/>
		<typeAlias type="com.main.oneflix.inquiry.vo.InquiryVO" alias="inquiry"/>
		<typeAlias type="com.main.oneflix.sales.vo.SalesVO" alias="sales"/>
		<typeAlias type="com.main.oneflix.review.vo.ReviewVO" alias="review"/>
		<typeAlias type="com.main.oneflix.like.vo.ReviewLikeVO" alias="reviewLike"/>
		<typeAlias type="com.main.oneflix.watch.vo.WatchVO" alias="watch"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappings/member-mapping.xml"/>
		<mapper resource="mappings/manager-mapping.xml"/>
		<mapper resource="mappings/actor-mapping.xml"/>
		<mapper resource="mappings/director-mapping.xml"/>
		<mapper resource="mappings/genre-mapping.xml"/>
		<mapper resource="mappings/ticket-mapping.xml"/>
		<mapper resource="mappings/movie-mapping.xml"/>
		<mapper resource="mappings/screen-mapping.xml"/>
		<mapper resource="mappings/help-mapping.xml"/>
		<mapper resource="mappings/inquiry-mapping.xml"/>
		<mapper resource="mappings/sales-mapping.xml"/>
		<mapper resource="mappings/review-mapping.xml"/>
		<mapper resource="mappings/reviewLike-mapping.xml"/>
		<mapper resource="mappings/watch-mapping.xml"/>
	</mappers>
</configuration>