<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
<property resource="logback.properties"/>
<property name="LOG_PACKAGE_NAME" value="${log.config.packagename}" />
<property name="LOG_PATH" value="${log.config.path}" />
<property name="LOG_FILE_NAME" value="${log.config.filename}" />
<property name="LOG_DAYS" value="${log.config.days}" />
<property name="LOG_FILESIZE_LOG" value="${log.config.filesizelog}" />
<property name="LOG_FILESIZE_ZIP" value="${log.config.filesizezip}" />
<property name="LOG_TOTAL_FILESIZE" value="${log.config.totalfilesize}" />
<property name="LOG_FILE_MIN" value="${log.config.min}" />
<property name="LOG_FILE_MAX" value="${log.config.max}" />
<property name="LOG_PATTERN" value="%-5level %d{yyyy-MM-dd HH:mm:ss}[%thread] %logger[%method:%line] - %msg%n"/>
<property name="LOG_DATE" value="%d{yyyy-MM-dd}"/>
   
 	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender> 

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/${LOG_DATE}_${LOG_FILE_NAME}.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOG_PATH}/${LOG_DATE}_${LOG_FILE_NAME}.%i.log</fileNamePattern>
          <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
         <maxFileSize>50MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <maxHistory>30</maxHistory>
         <totalSizeCap>3GB</totalSizeCap>
      </rollingPolicy>
       
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
         <pattern>${LOG_PATTERN}</pattern>
      </encoder>
   </appender>
    
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.springframework" level="info"  additivity="false">
    	<appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>