@charset "UTF-8";

.reg{
	background-color: #218838;
	border-color: #218838;
}
.cancel{
	background-color: #6c757d;
    border-color: #6c757d;
}

.title{
	background-color: #080808;
}

.content{
	background-color: #1a1919;
}
.insert{
	margin-right: 5%;
	margin-bottom: 2%;
}

tbody{
	background-color: #1a1919;
}