body {background: #fff;}
.page-body {color: #000;}
a {color: #f1f1f1; text-decoration: none;}
/* a:hover {color: #f1f1f1;} */
.main {padding: 20px 50px 0;}
.main > .row > .category {float: left; font-size: 1.5vw; margin: 0 0 5px; font-weight: bold;}
.main > .row > .more  {position: relative; float: right; z-index: 99; cursor: pointer; font-size: 1.1vw; margin-top: 5px; color: #000;}
.main > .row > .more::after {display: block; clear: both;}
.main > .row > .more > i {font-size: 1vw;}

.main-slider {position: relative; margin-bottom: 4vw;}
.main-slider .swiper-wrapper {height: 11vw;}
.main-slider .swiper-slide img {width: 100%; height: 80%;}
.main-slider .swiper-slide .row p {font-size: 1vw; margin-top: -3px;}
.main-slider .swiper-button-next {position: absolute; top: 50%; right: -40px; color: #000;}
.main-slider .swiper-button-prev {position: absolute; top: 50%; left: -40px; color: #000;}



@media (max-width: 1240px) {
    .main-slider .swiper-wrapper {height: 13vw;}
}

@media (max-width: 960px) {
    .main > .row > .category {font-size: 1.7vw;}
    .main-slider .swiper-wrapper {height: 15vw;}
    .main-slider .swiper-slide .row p {font-size: 1.3vw;}
}

@media (max-width: 768px) {
    .main > .row > .category {font-size: 1.9vw;}
    .main-slider .swiper-wrapper {height: 20vw;}
    .main-slider .swiper-slide .row p {font-size: 1.6vw;}
    .page-body {padding-left: 0px;}
}

@media (max-width: 640px) {
    .main > .row > .category {font-size: 2.3vw;}
    .main-slider .swiper-slide .row p {font-size: 1.9vw;}
}

@media (max-width: 512px) {
    .main > .row > .category {font-size: 2.5vw;}
    .main-slider .swiper-wrapper {height: 28vw;}
    .main-slider .swiper-slide .row p {font-size: 2.2vw;}
    .main-slider .swiper-button-next {right: -30px;}
    .main-slider .swiper-button-prev { left: -30px;}
}