<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
	<!-- Error Page -->
   <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/view/client/error404.jsp</location>
   </error-page>
   <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/view/client/error500.jsp</location>
   </error-page>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:common/applicationContext.xml
			<!-- 아래에 비즈니스 컨텍스트 추가 등록 -->
			
			classpath:common/fml_applicationContext.xml
			classpath:common/jaen_applicationContext.xml
			classpath:common/proleesh_applicationContext.xml
			classpath:common/purple_applicationContext.xml
			classpath:common/wyj_applicationContext.xml
			
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Client -->
	<servlet>
		<servlet-name>client</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/controller/client/client-servlet.xml
				<!-- 아래에 클라이언트 컨트롤러 컨텍스트 추가 등록 -->
				
				/WEB-INF/controller/client/fml_client-servlet.xml
				/WEB-INF/controller/client/jaen_client-servlet.xml
				/WEB-INF/controller/client/proleesh_client-servlet.xml
				/WEB-INF/controller/client/purple_client-servlet.xml
				/WEB-INF/controller/client/wyj_client-servlet.xml
				
			</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>client</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- Admin -->
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/controller/admin/admin-servlet.xml
				<!-- 아래에 어드민 컨트롤러 컨텍스트 추가 등록 -->
				
				/WEB-INF/controller/admin/fml_admin-servlet.xml
				/WEB-INF/controller/admin/jaen_admin-servlet.xml
				/WEB-INF/controller/admin/proleesh_admin-servlet.xml
				/WEB-INF/controller/admin/purple_admin-servlet.xml
				/WEB-INF/controller/admin/wyj_admin-servlet.xml
				
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>*.mdo</url-pattern>
	</servlet-mapping>
</web-app>
